<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    Devon's Entertainment Agency
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("FillOutForum", "Home")">Fill out New Entertainer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("WaitList", "Home")">View the current list of Entertainers</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main role="main" class="container">
        @RenderBody()
    </main>

    <!-- Footer -->
    <footer class="bg-light mt-3 py-3">
        <div class="container">
            <p class="text-muted">&copy; 2023 Devon Wolsleger. All rights reserved.</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
